/*----------------------TAG SELECTORS------------------------*/

body{
  background-color: #E0EBE8;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #3E9C87;
    border-width: 5px;
    width: 5%;
}

h1{
  color: #3E9C87;
}

h3{
  color: #4AB19A;
}

img:hover{
  background-color: gold;
}

/* NOTE:
http://seanhalpin.io/
VERDE CLARO   #4AB19A
VERDE OSCURO  #3E9C87 */

/*-----------------------CLASS SELECTORS------------------------*/
/* No es único, se puede usar varias veces */
.bacon{
  background-color: red;
}

.broccoli{
  background-color: green;
}

.circular{
  border-radius: 100%;
}
/*-----------------------IDS SELECTORS------------------------*/
/* Es único, sólo se puede usar una vez*/
#heading{
  color: blue;
}
