/*----------------------TAG SELECTORS------------------------*/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #EAF6F6;
  font-size: 4rem;
  margin: 3.125rem auto 0 auto;
  font-family: 'Cookie', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

p {
    line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

/*----------------------CLASS SELECTORS------------------------*/
.top-cloud {
  position: absolute;
  right: 300px;
  top: 20px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 50px;
}

.top-container {
  background-color: #66BFBF;
  color: #EAF6F6;
  position: relative;
  padding-top: 10px;
  padding-bottom: 40px;
}

.middle-container {
  /*background-color: #E4F9F5;*/
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px  0 20px;
}

.bottom-text {
  color: #EAF6F6;
  font-size: .8rem;
  padding: 2px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.moto-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto;
}

.intro {
  width: 20%;
  margin: auto;
}

.btn {
	box-shadow: 3px 4px 0 0 #899599;
	background:linear-gradient(to bottom, #66BFBF 5%, #66BFBF 100%);
	background-color:#66BFBF;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#EAF6F6;
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0 1px 0 #e1e2ed;
}
.btn:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
  color: #11999E;
}

.btn:active {
	position:relative;
	top:1px;
}
